a:visited {
    color: blue
}

a {
    color: blue;
    text-decoration: none;
}

.q-attrs {
    font-size: 14px;
}

.q-attr-box {
    padding: 5px;
}

.query {
    font-size:2.5vh;
    width: 90%;
    display:block;
    padding: 1.5vh;
    margin:auto;
    margin-top: 3vh;
    background-color: lightgray;
    border-color:transparent;
    border-radius:10px;
    outline: 0;
}

.questions_found {
    margin-bottom:5px;
    color: gray;
    text-align: center;
    font-size: initial;
}

.questions {
    font-size: initial;
}

body {
    font-size: 2.5vh;
}

.navigate {
    margin-top: 2vh;
    padding-bottom: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
}