<!doctype html>
<head>
    <link rel="icon" href="static/icon.png">
</head>
<title>Search!</title>
    <div style="margin-top:20vh;">
        <img style="object-fit: contain; width: 100%; max-height: 20vh; margin:auto; margin-bottom: 70px" src="static/icon.png">
    </div>
<form action="/search">
    <input style="font-size: 15px; width: 50%; display:block; padding: 8px; margin:auto; background-color: lightgray; border-color:transparent; border-radius:10px" placeholder="Ex.: How to change file permissions?" class="query" type="text" name="query" required>
    <div style="margin:auto; margin-top: 10px; width: fit-content">
        <input style="background-color: cadetblue; color:white; font-weight:bold; margin:auto; margin-top: 10px; border-color: transparent; border-radius:10px; display:inline; padding:10px;" class="submit" type="submit" value="Search">
        <input style="background-color: cadetblue; color:white; font-weight:bold; margin:auto; margin-top: 10px; border-color: transparent; border-radius:10px; display:inline; padding:10px;" class="submit" type="submit" value="I'm feeling lucky!">
    </div>
</form>
<div style="margin: auto; text-align: center; padding-top: 20vh;">
This is work was done ...<br>
...<br>
Lorem Ipsum...<br>
Prof. Dr. Frederico Araújo Durão<br>
Daniel Santos Peixoto<br>
</div>