<!doctype html>
<title>Search!</title>
<head>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="icon" href="static/icon.png">
</head>
<form action="/">
    <input placeholder="Your search here" class="query"
           type="text" name="query" value="{{ search }}" required>
    <div style="margin-top:10px; "></div>
    <input style="margin:auto; display:none; padding:10px;"
           class="submit" type="submit" value="Submit">
</form>
{% if query %}
    {% for question in query %}
<div style="padding:10px;" class="item">

    <a style="font-weight: bold" class="title"
       href="https://askubuntu.com/questions/{{ question['id'] }}">
        {{ question["title"] }}
    </a> <br>

    <span style="display: block; font-size:smaller">
        {{ date(question['creation_date']) }}
    </span>
    <span class=".q-status" style="display: block; font-size:smaller">
        {{ solved(question) }}
    </span>

    <span style="font-size: 13px; line-height: 0px" class="body">
        {{ filter2(question["body"]) }}
    </span>

    <div class="q-attr-box">
        <span class="q-attrs">
            {{ question["answer_count"]}} <strong>answer(s)</strong>
        </span> |
         <span class="q-attrs">
             <strong>tags:</strong>
             <i>{{ tags(question["tags"][0]) }}</i>
         </span>
    </div>
</div>
    {% endfor %}
{% endif %}