<!doctype html>
<title>Search!</title>
<form action="/">
    <input style="width: 50%; display:block; padding: 10px; margin:auto;" placeholder="Your search here" class="query_model" type="text" name="query_model">
    <div style="margin-top:10px; "></div>
    <input style="margin:auto; display:block; padding:10px;"class="submit" type="submit" value="Submit">
</form>
{% if query_model %}
    {% for question in query_model %}
<hr>
<div class="item">
    <a class="title" href="/question/{{ question['id'] }}">{{ question["title"] }}</a> <br>
    <span class="body">{{ question["body"] | safe }}</span>
</div>
    {% endfor %}
{% endif %}